certifi @ file:///C:/Windows/TEMP/abs_e9b7158a-aa56-4a5b-87b6-c00d295b01fanefpc8_o/croots/recipe/certifi_1655968940823/work/certifi
cma==3.2.2
cycler==0.11.0
Cython==0.29.30
decorator==5.1.1
fonttools==4.34.4
GPy==1.10.0
joblib==1.1.0
kiwisolver==1.4.4
matplotlib==3.5.2
numpy==1.23.1
packaging==21.3
pandas==1.4.3
paramz==0.9.5
Pillow==9.2.0
pyDOE==0.3.8
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
six==1.16.0
sklearn==0.0
threadpoolctl==3.1.0
torch==1.12.0
typing_extensions==4.3.0
wincertstore==0.2
