botorch==0.6.0
celer==0.7.3
certifi==2024.7.4
charset-normalizer==3.3.2
cloudpickle==3.0.0
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
download==0.3.5
fonttools==4.53.1
future==1.0.0
gpytorch==1.6.0
hyperopt==0.2.7
idna==3.7
joblib==1.4.2
kiwisolver==1.4.5
libsvmdata==0.4.1
llvmlite==0.43.0
matplotlib==3.9.1
networkx==3.3
numba==0.60.0
numpy==1.23.3
packaging==24.1
pandas==2.2.2
pillow==10.4.0
py4j==0.10.9.7
pyDOE==0.3.8
pymanopt==1.0.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
scikit-learn==1.5.1
scipy==1.8.1
seaborn==0.13.2
six==1.16.0
sparse_ho @ https://github.com/QB3/sparse-ho/archive/master.zip#sha256=e9429a8237f808b5bf70f1f0d62d994e4d4b38c7c6e533ca1627a127d9c04368
threadpoolctl==3.5.0
torch==1.12.1+cu113
torchaudio==0.12.1+cu113
torchvision==0.13.1+cu113
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
xarray==2024.6.0
